extends layout

block content
  h1.center= title
  p.center Serving since 1992
  a.bottom-center.btn-order-service(href="https://www.doordash.com/") Doordash
  a.bottom-center.btn-order-service(href="https://www.ubereats.com/") Uber Eats

 
  



  