extends layout

block content
    .page-container 
        .content
            h1.center= title
            p.center Serving since 1992
            p.center Enjoy our delicious donuts!

        .button-stack
            a.btn-order-service(href="https://www.ubereats.com/" target="_blank") Uber Eats
            a.btn-order-service(href="https://www.doordash.com/" target="_blank") DoorDash
