extends layout 

block content
    .page-container
        h1.center= title
        p.center About Us!

    .info-container
        p About Us!

    .back-button-container
        a.btn-info(href="/") Back to Home