extends layout 

block content
    .page-container
        .info-card
            h1.center= title
            
        .info-card-information
            p Hello! We are Downtown Donuts. Family owned since 1992! Us here at Downtown Donuts have been serving the downtown community proudly since 1992. With our historically famous and classic homemade recipes we can promise that this establishment will nestle itself somewhere in your mind as a peaceful, warm, and delicious memory. Our selection of hand-grounded coffee can also give you that extra kick in the morning to get things going.

            p So please come swing by whenever to say hi and experience our welcoming friendly environment and get yourself some of the highest quality donuts and coffee while your at it

    

    .back-button-container
        a.btn-info(href="/") Back to Home