doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Italiano&display=swap')
  body
    header 
      img(src="/images/Downtown Donuts.PNG", alt="Downtown Donuts Logo", class="logo")
    block content
