extends layout

block content 
    .page-container 
        h1.center= title 
        p.center Check out our wide selection of donuts below! 

        .menu-container 
            ul.menu-list 
                li Donut 1
                li Donut 2
                li Donut 3

        .back-button-container 
            a.btn-menu(href="/") Back to Home