.center {
  text-align: center;
}

.content {
  flex: 1;
}

html, body {
  background-color: #10291D;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-style: 'Italiano';
}

.page-container {
  min-height: 10000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.button-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 50px 0;
  margin-bottom: 50px;
}

/* Online Ordering Services */
.btn-order-service {
  background: #f7f7f7;
  color: #10291D;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  transition: 0.25s;
  text-decoration: none;
} 

.btn-order-service:hover {
  color: #F7C64A;
  transform: translate(-2px);
}